<!DOCTYPE html>
<html lang="ru">
	<title>Muzkom22</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=yes">
	<link href="./css/styles.css" rel="stylesheet">
	<body>
		<header class="header">
			<div class="container">
				<div class="header__row">
					<a href="#" class="header-logo">
						<svg class="header-logo__icon">
							<use xlink:href="./img/sprite.svg#logo"></use>
						</svg>
					</a>
					<nav class="nav">
						<a href="#" class="nav__item is-active">Программа</a>
						<a href="#" class="nav__item">Фестиваль</a>
						<a href="#" class="nav__item">Новости</a>
						<a href="#" class="nav__item">Архив</a>
					</nav>
					<div class="header-contacts">
						<span class="header-contacts__title">Касса театра</span>
						<a href="tel:+73852505085" class="header-contacts__phone">(3852) 50-50-85</a>
					</div>
					<div class="header-vision">
						<svg class="header-vision__icon">
							<use xlink:href="./img/sprite.svg#glasses"></use>
						</svg>
					</div>
					<div class="header-menu js-menu">
						<span></span>
					</div>
				</div>
			</div>
		</header>
		<section class="inner">
			<div class="container">
				<div class="inner__row">
					<h1 class="title title_mb">Вечер хореографических спектаклей</h1>
					<div class="article">
						<div class="article__col article__col_lc">
							<div class="preview">
								<div class="preview__col preview__col_name">
									<span class="preview__title">Участник фестиваля:</span>
									<span class="preview__text">Выпускной курс факультета хореографии «Кемеровский государственный институт культу-ры» (г. Кемерово)</span>
								</div>
								<div class="preview__col preview__col_age">
									<span class="preview__title">Возраст:</span>
									<span class="preview__text">12+</span>
								</div>
								<div class="preview__col preview__col_duration">
									<span class="preview__title">Длительность:</span>
									<span class="preview__text">1 ч. 30 мин.</span>
								</div>
								<div class="preview__col preview__col_genre">
									<span class="preview__title">Жанр:</span>
									<span class="preview__text">Разное</span>
								</div>
							</div>
							<div class="gallery">
								<div class="gallery-main js-gallery-main">
									<div class="gallery-main__col" data-id="1">
										<a href="./pic/gallery-1.jpg" class="gallery-main__item" data-fancybox="gallery">
											<span class="gallery-main__text">«Голод. Нашествие саранчи»: фото 01</span>
											<img src="./pic/gallery-1.jpg" alt="" class="img-cover">
										</a>
									</div>
									<div class="gallery-main__col" data-id="2">
										<a href="./pic/gallery-1.jpg" class="gallery-main__item" data-fancybox="gallery">
											<span class="gallery-main__text">«Голод. Нашествие саранчи»: фото 02</span>
											<img src="./pic/gallery-1.jpg" alt="" class="img-cover">
										</a>
									</div>
									<div class="gallery-main__col" data-id="3">
										<a href="./pic/gallery-1.jpg" class="gallery-main__item" data-fancybox="gallery">
											<span class="gallery-main__text">«Голод. Нашествие саранчи»: фото 03</span>
											<img src="./pic/gallery-1.jpg" alt="" class="img-cover">
										</a>
									</div>
									<div class="gallery-main__col" data-id="4">
										<a href="./pic/gallery-1.jpg" class="gallery-main__item" data-fancybox="gallery">
											<span class="gallery-main__text">«Голод. Нашествие саранчи»: фото 04</span>
											<img src="./pic/gallery-1.jpg" alt="" class="img-cover">
										</a>
									</div>
									<div class="gallery-main__col" data-id="5">
										<a href="./pic/gallery-1.jpg" class="gallery-main__item" data-fancybox="gallery">
											<span class="gallery-main__text">«Голод. Нашествие саранчи»: фото 05</span>
											<img src="./pic/gallery-1.jpg" alt="" class="img-cover">
										</a>
									</div>
									<div class="gallery-main__col" data-id="6">
										<a href="./pic/gallery-1.jpg" class="gallery-main__item" data-fancybox="gallery">
											<span class="gallery-main__text">«Голод. Нашествие саранчи»: фото 06</span>
											<img src="./pic/gallery-1.jpg" alt="" class="img-cover">
										</a>
									</div>
									<div class="gallery-main__col" data-id="7">
										<a href="./pic/gallery-1.jpg" class="gallery-main__item" data-fancybox="gallery">
											<span class="gallery-main__text">«Голод. Нашествие саранчи»: фото 07</span>
											<img src="./pic/gallery-1.jpg" alt="" class="img-cover">
										</a>
									</div>
									<div class="gallery-main__col" data-id="8">
										<a href="./pic/gallery-1.jpg" class="gallery-main__item" data-fancybox="gallery">
											<span class="gallery-main__text">«Голод. Нашествие саранчи»: фото 08</span>
											<img src="./pic/gallery-1.jpg" alt="" class="img-cover">
										</a>
									</div>
									<div class="gallery-main__col" data-id="9">
										<a href="./pic/gallery-1.jpg" class="gallery-main__item" data-fancybox="gallery">
											<span class="gallery-main__text">«Голод. Нашествие саранчи»: фото 09</span>
											<img src="./pic/gallery-1.jpg" alt="" class="img-cover">
										</a>
									</div>
									<div class="gallery-main__col" data-id="10">
										<a href="./pic/gallery-1.jpg" class="gallery-main__item" data-fancybox="gallery">
											<span class="gallery-main__text">«Голод. Нашествие саранчи»: фото 10</span>
											<img src="./pic/gallery-1.jpg" alt="" class="img-cover">
										</a>
									</div>
									<div class="gallery-main__col" data-id="11">
										<a href="./pic/gallery-1.jpg" class="gallery-main__item" data-fancybox="gallery">
											<span class="gallery-main__text">«Голод. Нашествие саранчи»: фото 11</span>
											<img src="./pic/gallery-1.jpg" alt="" class="img-cover">
										</a>
									</div>
									<div class="gallery-main__col" data-id="12">
										<a href="./pic/gallery-1.jpg" class="gallery-main__item" data-fancybox="gallery">
											<span class="gallery-main__text">«Голод. Нашествие саранчи»: фото 12</span>
											<img src="./pic/gallery-1.jpg" alt="" class="img-cover">
										</a>
									</div>
								</div>
								<div class="gallery-preview js-gallery-preview">
									<div class="gallery-preview__col is-current" data-id="1">
										<div class="gallery-preview__item">
											<img src="./pic/preview-1-1.jpg" alt="" class="img-cover">
										</div>
									</div>
									<div class="gallery-preview__col" data-id="2">
										<div class="gallery-preview__item">
											<img src="./pic/preview-1-2.jpg" alt="" class="img-cover">
										</div>
									</div>
									<div class="gallery-preview__col" data-id="3">
										<div class="gallery-preview__item">
											<img src="./pic/preview-1-3.jpg" alt="" class="img-cover">
										</div>
									</div>
									<div class="gallery-preview__col" data-id="4">
										<div class="gallery-preview__item">
											<img src="./pic/preview-1-4.jpg" alt="" class="img-cover">
										</div>
									</div>
									<div class="gallery-preview__col" data-id="5">
										<div class="gallery-preview__item">
											<img src="./pic/preview-1-5.jpg" alt="" class="img-cover">
										</div>
									</div>
									<div class="gallery-preview__col" data-id="6">
										<div class="gallery-preview__item">
											<img src="./pic/preview-1-6.jpg" alt="" class="img-cover">
										</div>
									</div>
									<div class="gallery-preview__col" data-id="7">
										<div class="gallery-preview__item">
											<img src="./pic/preview-1-1.jpg" alt="" class="img-cover">
										</div>
									</div>
									<div class="gallery-preview__col" data-id="8">
										<div class="gallery-preview__item">
											<img src="./pic/preview-1-2.jpg" alt="" class="img-cover">
										</div>
									</div>
									<div class="gallery-preview__col" data-id="9">
										<div class="gallery-preview__item">
											<img src="./pic/preview-1-3.jpg" alt="" class="img-cover">
										</div>
									</div>
									<div class="gallery-preview__col" data-id="10">
										<div class="gallery-preview__item">
											<img src="./pic/preview-1-4.jpg" alt="" class="img-cover">
										</div>
									</div>
									<div class="gallery-preview__col" data-id="11">
										<div class="gallery-preview__item">
											<img src="./pic/preview-1-5.jpg" alt="" class="img-cover">
										</div>
									</div>
									<div class="gallery-preview__col" data-id="12">
										<div class="gallery-preview__item">
											<img src="./pic/preview-1-6.jpg" alt="" class="img-cover">
										</div>
									</div>
								</div>
							</div>
							<div class="text-b">
								<h2>«Уравнение»</h2>
								<p><em>Хореографическая картина</em></p>
								<p>Женщина и Мужчина. Две константы одной системы, отношения которых образует гармонию. Доминирование одной энергии над другой неизбежно приводит к нарушению этой гармонии. Каждое поколение вносит новые переменные, превращая равенство в уравнение, которое требует решения. Поиск корня уравнения, который вновь привел бы систему к гармонии – основная задача отношений мужчины и женщины.</p>
								<p>Пролог: «Молись и днем, и ночью»<br> 1 эпизод: «Мне 10, и меня продали»<br> 2 эпизод: «Не выбери меня»<br> 3 эпизод: «Тангера»<br> 4 эпизод: «Paradize – рай без женщин»<br> Финал</p>
								<h2>«Игра»</h2>
								<p><span>Жанр:</span> хореографический спектакль</p>
								<p>Это все – игра! Жизнь играет нами, или мы играем в жизнь?! Гармония внутри нас, или снаружи?!<br> В каждой игре есть победитель, проигравший?!<br> Для того, чтобы ответить на эти вопросы, нужно начать игру. Вы готовы?<br> 7 человек</p>
								<h2>«Голод. Нашествие саранчи»</h2>
								<p><em>Современный одноактный балет</em></p>
								<p>Огромное прикладное значение изучения явления каннибализма сконцентрировано не в самом каннибализме как таковом, а в связанной с ним взаимной неприязни между людьми. Мы на самом деле живем в эпоху сублимированного каннибализма, а неприязнь друг к другу по-прежнему является нашим корнем, она - основа для развития, и одновременно – единственная угроза для него же.</p>
								<p>Максимальное осознание своей неприязни к окружающим очень важно для современного человека, потому что именно здесь и кроется причина всех его страданий, неудовлетворенности жизнью, других тяжелых состояний его души.</p>
								<p>Мы, как правило, более склонны к тому, чтобы искать причины этих страданий во внешнем мире и не подозреваем, что они - внутри нас самих и являют собой желание сьесть другого человека - примитивно сублимированное и выражаемое наружу в виде неприязни. Когда мы выражаем свою неприязнь, это желание немного удовлетворяет себя и сразу же возрастает вдвое, причиняя вдвое большие страдания - требует от нас очередного выноса наружу, но уже в двойном размере. Этот процесс, приобретая массовый характер, способен раскручивать себя как маховик, угрожая обществу распадом и деструкцией.</p>
								<h2>«Nany, nany. Колыбельная»</h2>
								<p><span>Жанр:</span> хореографический спектакль</p>
								<p>Колыбельная. Колыбельная…<br> Малыши хотят колыбельную…<br> Спите сладко мои дорогие. Ваш отец не вернётся, усталый от вспашки полей. Я дверь ему не открою. Соберу всё своё и отдам вам. Спите крепко, мои дорогие. Повзрослевший мой мальчик, сын матери, будет кормить семью.<br> Утро. Накрою стол. Проводи меня старшая. Скоро вернусь. Тяжело.<br> Спите сладко, мои дорогие.<br> И я усну. Скоро я усну…</p>
							</div>
						</div>
						<div class="article__col article__col_rc">
							<div class="card-mini">
								<div class="card-mini-date">
									<div class="card-mini-date__col">
										<span class="card-mini-date__text">10 мая</span>
										<span class="card-mini-date__subtext">понедельник</span>
									</div>
									<div class="card-mini-date__col">
										<span class="card-mini-date__text">19:30</span>
									</div>
								</div>
								<div class="card-mini-action">
									<span class="card-mini-action__title">Цена билетов</span>
									<span class="card-mini-action__price">100 - 150 руб.</span>
									<button class="btn-secondary btn-secondary_filled">
										<svg class="btn-secondary__icon" width="26" height="16">
											<use xlink:href="./img/sprite.svg#ticket"></use>
										</svg>
										<span class="btn-secondary__text">Купить билет</span>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="inner-footer">
						<div class="head">
							<div class="head__col head__col_title">
								<h2 class="title">Следующие спектакли</h2>
							</div>
							<div class="head__col">
								<a href="#" class="head__all">Вся программа</a>
							</div>
						</div>
						<table class="schedule-t schedule-t_no-border">
							<tbody>
								<tr>
									<td class="schedule-t_date">
										<div class="schedule-t-date">
											<span class="schedule-t-date__day">13</span>
											<span class="schedule-t-date__month">мая</span>
										</div>
									</td>
									<td class="schedule-t_time">
										<span class="schedule-t-time">Четверг <span>18:30</span></span>
									</td>
									<td class="schedule-t_content">
										<a href="#" class="schedule-t__title">Мачеха Саманишвили</a>
										<div class="schedule-t-info">
											<span class="age-limit schedule-t-info__age">6+</span>
											<span class="schedule-t-info__text">Театр «У Моста», г. Пермь <span>|</span> 2 ч. 10 мин.</span>
										</div>
										<div class="schedule-t-gallery">
											<div class="schedule-t-gallery__col">
												<a href="./pic/gallery-1.jpg" class="schedule-t-gallery__item" data-fancybox="group-4">
													<img src="./pic/preview-4-1.jpg" alt="" class="img-cover">
												</a>
											</div>
											<div class="schedule-t-gallery__col">
												<a href="./pic/gallery-1.jpg" class="schedule-t-gallery__item" data-fancybox="group-4">
													<img src="./pic/preview-4-2.jpg" alt="" class="img-cover">
												</a>
											</div>
										</div>
									</td>
									<td class="schedule-t_action">
										<button class="btn-secondary">
											<svg class="btn-secondary__icon" width="26" height="16">
												<use xlink:href="./img/sprite.svg#ticket"></use>
											</svg>
											<span class="btn-secondary__text">Купить билет</span>
										</button>
										<span class="schedule-t__price">от 400 руб.</span>
									</td>
								</tr>
								<tr>
									<td class="schedule-t_date">
										<div class="schedule-t-date">
											<span class="schedule-t-date__day">14</span>
											<span class="schedule-t-date__month">мая</span>
										</div>
									</td>
									<td class="schedule-t_time">
										<span class="schedule-t-time">Пятница <span>18:30</span></span>
									</td>
									<td class="schedule-t_content">
										<a href="#" class="schedule-t__title">Сибирь героическая</a>
										<div class="schedule-t-info">
											<span class="age-limit schedule-t-info__age">6+</span>
											<span class="schedule-t-info__text">г. Новосибирск <span>|</span> 1 ч. 20 мин.</span>
										</div>
										<div class="schedule-t-gallery">
											<div class="schedule-t-gallery__col">
												<a href="./pic/gallery-1.jpg" class="schedule-t-gallery__item" data-fancybox="group-5">
													<img src="./pic/preview-5-1.jpg" alt="" class="img-cover">
												</a>
											</div>
											<div class="schedule-t-gallery__col">
												<a href="./pic/gallery-1.jpg" class="schedule-t-gallery__item" data-fancybox="group-5">
													<img src="./pic/preview-5-2.jpg" alt="" class="img-cover">
												</a>
											</div>
											<div class="schedule-t-gallery__col">
												<a href="./pic/gallery-1.jpg" class="schedule-t-gallery__item" data-fancybox="group-5">
													<img src="./pic/preview-5-3.jpg" alt="" class="img-cover">
												</a>
											</div>
										</div>
									</td>
									<td class="schedule-t_action">
										<button class="btn-secondary">
											<svg class="btn-secondary__icon" width="26" height="16">
												<use xlink:href="./img/sprite.svg#ticket"></use>
											</svg>
											<span class="btn-secondary__text">Купить билет</span>
										</button>
										<span class="schedule-t__price">от 400 руб.</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
		<footer class="footer">
			<div class="container">
				<div class="footer-main">
					<div class="footer-logo">
						<svg class="footer-logo__icon">
							<use xlink:href="./img/sprite.svg#logo"></use>
						</svg>
					</div>
					<div class="footer-main__col">
						<a href="#" class="footer-main__title">Фестиваль</a>
						<a href="#" class="footer-main__link">Цели и задачи</a>
						<a href="#" class="footer-main__link">Положение</a>
						<a href="#" class="footer-main__link">Участники</a>
						<a href="#" class="footer-main__link">Жюри</a>
					</div>
					<div class="footer-main__col">
						<a href="#" class="footer-main__title">Программа</a>
					</div>
					<div class="footer-main__col">
						<a href="#" class="footer-main__title">Новости</a>
					</div>
					<div class="footer-main__col">
						<a href="#" class="footer-main__title">Архив</a>
					</div>
				</div>
				<div class="footer-vision">
					<a href="#" class="footer-vision__link">
						<svg class="footer-vision__icon" width="71" height="26">
							<use xlink:href="./img/sprite.svg#glasses"></use>
						</svg>
						<span class="footer-vision__text">Версия для слабовидящих</span>
					</a>
				</div>
				<div class="footer-info">
					<div class="footer-info__col footer-info__col_nav">
						<span class="footer-info__text">© 2021. Все права защищены. Фестиваль «Шаг» — проект Алтайского театра музыкальной комедии.</span>
						<div class="footer-info-nav">
							<div class="footer-info-nav__col">
								<a href="#">Правила приобретения и возврата билетов</a>
							</div>
							<div class="footer-info-nav__col">
								<a href="#">Правила посещения театра</a>
							</div>
							<div class="footer-info-nav__col">
								<a href="#">Политика конфиденциальности</a>
							</div>
						</div>
					</div>
					<div class="footer-info__col">
						<span class="footer-info__text">Разработка сайта:</span>
						<span class="footer-info__text"><a href="#">Полезные системы</a></span>
					</div>
				</div>
			</div>
		</footer>
		<div class="drop js-drop">
			<div class="container">
				<div class="drop__row">
					<div class="drop__col">
						<div class="drop-big drop-big_l">
							<a href="#">Фестиваль</a>
						</div>
						<ul class="drop-list">
							<li>
								<a href="#">История и цели</a>
							</li>
							<li>
								<a href="#">Положение</a>
							</li>
							<li>
								<a href="#">Участники</a>
							</li>
							<li>
								<a href="#">Жюри</a>
							</li>
						</ul>
					</div>
					<div class="drop__col">
						<div class="drop-big">
							<a href="#">Программа</a>
						</div>
						<div class="drop-big">
							<a href="#">Новости</a>
						</div>
						<div class="drop-big">
							<a href="#">Архив</a>
						</div>
					</div>
					<div class="drop__col">
						<ul class="drop-list">
							<li>
								<a href="#">Правила приобретения и возврата билетов</a>
							</li>
							<li>
								<a href="#">Правила посещения театра</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script src="./js/libs.js"></script>
		<script src="./js/scripts.js"></script>
	</body>
</html>