.welcome {
	overflow: hidden;
	position: relative;
	display: flex;
	height: 100%;
	min-height: 550px;
	max-height: 1200px;
	margin-top: -106px;
	background-color: #000000;

	@media @tablet {
		min-height: 440px;
		margin-top: -95px;
	}

	@media @mobile {
		margin-top: -81px;
	}

	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 491 / 685 * 100%;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
	}

	&__bg {
		opacity: .4;
	}

	&__container {
		display: flex;
	}

	&__row {
		position: relative;
		display: flex;
		align-items: flex-end;
		width: 100%;

		@media @mobile {
			align-items: center;
		}
	}

	&__emblem {
		position: absolute;
		right: -4px;
		bottom: -99px;
		width: 365px;
		height: auto;
		opacity: .08;
		pointer-events: none;

		@media @mobile {
			width: 182px;
			right: -28px;
			bottom: -36px;
		}
	}

	&__logo {
		position: absolute;
		right: 21px;
		bottom: 52px;
		width: 140px;
		height: auto;

		@media @mobile {
			right: -2px;
			bottom: 26px;
			width: 78px;
		}
	}

	&__content {
		position: relative;
		z-index: 5;
		width: 100%;
		color: @colorLight;
		padding: 176px 0 70px 100px;

		@media @notebook {
			padding-left: 0;
		}

		@media @tablet {
			padding-top: 165px;
		}

		@media @mobile {
			padding-top: 121px;
			padding-bottom: 121px;
		}
	}

	&-head {
		display: flex;
		margin: 0 -15px;

		@media @mobile {
			flex-direction: column;
		}

		&__col {
			display: inline-block;
			padding: 0 15px;

			@media @mobile {
				order: 0;
				display: block;
			}

			&_title {
				flex: 1;

				@media @mobile {
					order: 1;
				}
			}
		}
	}

	&-date {
		position: relative;
		font-size: 0;
		white-space: nowrap;
		padding-left: 100px;
		margin-top: 12px;

		@media @tablet {
			padding-left: 62px;
		}

		@media @mobile {
			padding-left: 30px;
			margin-bottom: 12px;
		}

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			width: 70px;
			height: 2px;
			margin-top: -4px;
			background-color: rgba(255, 255, 255, .5);

			@media @tablet {
				width: 42px;
			}

			@media @mobile {
				width: 20px;
				margin-top: 2px;
			}
		}

		&__days {
			display: inline-block;
			font-size: 50px;
			line-height: 58px;
			font-family: @fCustom;

			@media @mobile {
				font-size: 32px;
				line-height: 38px;
			}
		}

		&__month {
			display: inline-block;
			font-size: 16px;
			line-height: 18px;
			margin-left: 10px;
			margin-top: 1px;

			@media @mobile {
				font-size: 14px;
				line-height: 16px;
				margin-left: 6px;
				margin-top: -1px;
			}

			span {
				display: block;
				margin-top: 4px;

				@media @mobile {
					margin-top: 2px;
				}
			}
		}
	}

	&__title {
		font-size: 70px;
		line-height: 75px;
		font-family: @fCustom;
		font-weight: 400;

		@media @tablet {
			font-size: 50px;
			line-height: 56px;
		}

		@media @mobile {
			font-size: 32px;
			line-height: 38px;
		}
	}

	&__btn {
		margin-top: 54px;

		@media @tablet {
			margin-top: 37px;
		}

		@media @mobile {
			margin-top: 22px;
		}
	}
}

.schedule {
	&__row {
		padding: 80px 0 62px;

		@media @tablet {
			padding: 62px 0 50px;
		}

		@media @mobile {
			padding: 60px 0 31px;
		}
	}

	&-t {
		width: 100%;
		margin: 0;

		&_no-border {
			tr:first-child {
				td {
					border-top-width: 0;
				}
			}
		}

		@media @mobile {
			display: block;

		}

		td {
			border-top: 1px solid #DEDBDB;
			padding-left: 15px;
			padding-right: 15px;

			@media @mobile {
				padding-right: 0;
				padding-left: 20px;
			}

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}

		&_date {
			width: 8.3333%;
			padding-top: 40px;
			padding-bottom: 40px;

			@media @tablet {
				width: 139px;
				padding-top: 27px;
				padding-bottom: 27px;
			}

			@media @mobile {
				display: inline-block;
				width: 60px;
				padding-top: 24px;
				padding-bottom: 10px;
			}
		}

		&-date {
			font-size: 0;
			white-space: nowrap;

			&__day {
				display: inline-block;
				font-size: 40px;
				line-height: 48px;
				font-family: @fCustom;
			}

			&__month {
				display: inline-block;
				font-size: 14px;
				line-height: 16px;
				font-family: @fAstraSans;
				margin-top: 6px;
				margin-left: 4px;

				span {
					display: none;

					@media @tablet {
						display: block;
						color: @colorGray;
						margin-top: 2px;
					}
				}
			}

			&__time {
				display: none;

				@media @tablet {
					display: block;
					color: @colorGray;
					font-size: 14px;
					line-height: 16px;
					margin-top: -2px;
				}
			}
		}

		&_time {
			width: 16.6666%;
			padding-top: 46px;
			padding-bottom: 46px;

			@media @tablet {
				display: none;
			}
		}

		&-time {
			color: @colorGray;
			font-size: 14px;
			line-height: 16px;

			span {
				display: block;
				margin-top: 4px;
			}
		}

		&_content {
			padding-top: 33px;
			padding-bottom: 34px;

			@media @tablet {
				padding-top: 28px;
				padding-bottom: 30px;
			}

			@media @mobile {
				display: inline-block;
				width: calc(100% - 60px);
				padding-right: 0;
				padding-top: 25px;
				padding-bottom: 12px;
			}
		}

		&__title {
			min-height: 55px;
			display: block;
			font-size: 40px;
			line-height: 46px;
			font-family: @fCustom;

			@media @tablet {
				min-height: 44px;
				font-size: 32px;
				line-height: 38px;
			}

			@media @mobile {
				min-height: 32px;
				font-size: 24px;
				line-height: 30px;
			}
		}

		&-info {
			font-size: 0;
			margin-top: 12px;

			@media @tablet {
				margin-top: 11px;
			}

			@media @mobile {
				margin-top: 7px;
			}

			br {
				display: none;

				@media @mobile {
					display: block;
				}
			}

			&__age {
				margin-right: 15px;

				@media @mobile {
					float: right;
					margin: 3px 0 -3px 10px;
				}
			}

			&__text {
				font-size: 18px;
				line-height: 24px;

				@media @mobile {
					font-size: 14px;
					line-height: 25px;
				}

				span {
					padding: 0 5px;

					@media @mobile {
						display: none;
					}
				}
			}
		}

		&_action {
			width: 16.6666%;
			padding-top: 48px;
			padding-bottom: 40px;

			@media @tablet {
				width: 181px;
				padding-top: 30px;
				padding-bottom: 30px;
			}

			@media @mobile {
				display: inline-block;
				width: calc(100% - 60px);
				padding-top: 0;
				padding-bottom: 29px;
				margin-left: 60px;
				border-top-width: 0 !important;
			}
		}

		&__price {
			display: block;
			color: @colorGray;
			font-size: 18px;
			line-height: 21px;
			margin: 12px 0 0 10px;

			@media @mobile {
				font-size: 16px;
				line-height: 18px;
				margin: 10px 0 0;
			}
		}

		&-gallery {
			font-size: 0;
			margin: 20px -5px 6px;

			@media @mobile {
				margin: 20px -3px 0;
			}

			&__col {
				display: inline-block;
				padding: 0 5px;
				margin-bottom: 10px;

				@media @mobile {
					padding: 3px;
					margin-bottom: 6px;
				}
			}

			&__item {
				overflow: hidden;
				position: relative;
				display: block;
				width: 90px;
				padding-top: 60 / 90 * 100%;
				opacity: .5;
				transition: opacity .2s ease;

				@media @mobile {
					width: 66px;
				}

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

.party {
	position: relative;
	background-color: #000000;

	@media @mobile {
		&__bg {
			object-position: 65% 50%;
		}
	}

	&__row {
		padding-top: 93px;
		padding-bottom: 73px;

		@media @tablet {
			padding-top: 80px;
			padding-bottom: 55px;
		}

		@media @mobile {
			padding-top: 60px;
			padding-bottom: 45px;
		}
	}

	&__content {
		max-width: 570px;
		color: @colorLight;

		@media @tablet {
			width: 66.6666%;
		}

		@media @mobile {
			width: 100%;
			max-width: 414px;
		}
	}

	&__title {
		margin-bottom: 49px;

		@media @tablet {
			margin-bottom: 40px;
		}

		@media @mobile {
			margin-bottom: 30px;
		}
	}

	&__text {
		font-size: 18px;
		line-height: 23px;
		margin-bottom: 25px;

		@media @tablet {
			font-size: 20px;
		}

		@media @mobile {
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 5px;
		}
	}

	&__list {
		margin: 31px 0 0 50px;

		@media @tablet {
			margin-left: 42px;
		}

		@media @mobile {
			margin-left: 38px;
			margin-top: 0;
		}

		li {
			position: relative;
			font-size: 18px;
			line-height: 23px;
			padding-left: 50px;
			margin-bottom: 25px;

			@media @tablet {
				font-size: 20px;
				padding-left: 38px;
				margin-bottom: 20px;
			}

			@media @mobile {
				font-size: 16px;
				line-height: 20px;
				margin-bottom: 5px;
			}

			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 12px;
				width: 20px;
				height: 2px;
				background-color: @colorPink;

				@media @mobile {
					top: 10px;
				}
			}
		}
	}
}

.jury {
	overflow: hidden;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		right: 50%;
		top: 0;
		width: 100%;
		height: 326px;
		margin-right: -300px;
		background-color: rgba(35, 12, 17, 0.05);

		@media @tablet {
			height: 280px;
			margin-right: -173px;
		}

		@media @mobile {
			right: 0;
			margin-right: 0;
		}
	}

	&__row {
		padding-top: 91px;
		padding-bottom: 100px;

		@media @tablet {
			padding-top: 85px;
			padding-bottom: 74px;
		}

		@media @mobile {
			padding-top: 60px;
			padding-bottom: 58px;
		}
	}

	&__title {
		margin: 0 200px 48px 0;

		@media @tablet {
			margin-bottom: 35px;
		}

		@media @mobile {
			margin: 0 0 78px;
		}
	}

	&-slider {
		position: relative;
		white-space: nowrap;
		margin: 0 -15px;

		@media @tablet {
			margin: 0 -10px;
		}

		@media @mobile {
			margin: 0 -15px;
		}

		&__col {
			display: inline-block;
			width: 33.3333%;
			padding: 0 15px;

			@media @tablet {
				padding: 0 10px;
			}

			@media @mobile {
				width: 260px;
				padding: 0 5px 0 15px;
			}

			@media @small {
				width: 233px;
			}
		}

		.slick-arrow {
			position: absolute;
			top: -92px;
			right: 0;
			width: 100px;
			height: 46px;
			cursor: pointer;
			padding: 15px;

			@media @tablet {
				top: -82px;
			}

			@media @mobile {
				top: -62px;
			}

			svg {
				fill: rgba(145, 133, 136, 0.5);
				transition: fill .2s ease;
			}

			&:hover {
				svg {
					fill: rgba(35, 12, 17, 0.5);
				}
			}
		}

		.slick-prev {
			margin-right: 100px;

			@media @mobile {
				right: auto;
				left: 0;
				margin-right: 0;
			}
		}
	}

	&-item {
		max-width: 340px;
		white-space: normal;

		&__photo {
			max-width: 250px;
		}

		&__img {
			overflow: hidden;
			position: relative;
			padding-top: 250 / 270 * 100%;
		}

		&__name {
			display: block;
			font-size: 32px;
			line-height: 40px;
			font-family: @fCustom;
			margin-top: 16px;

			@media @tablet {
				font-size: 26px;
				line-height: 34px;
				margin-top: 20px;
			}

			@media @mobile {
				font-size: 22px;
				line-height: 28px;
				margin-top: 21px;
			}
		}

		&__text {
			display: block;
			color: @colorGray;
			font-size: 16px;
			line-height: 22px;
			margin-top: 15px;

			@media @tablet {
				margin-top: 10px;
			}

			@media @mobile {
				margin-top: 11px;
			}
		}
	}
}

.news {
	background-color: rgba(35, 12, 17, 0.05);

	&__row {
		padding-top: 88px;
		padding-bottom: 69px;

		@media @tablet {
			padding-top: 74px;
			padding-bottom: 50px;
		}

		@media @mobile {
			padding-top: 60px;
			padding-bottom: 42px;
		}
	}

	&-list {
		font-size: 0;
		margin: 0 -15px -10px;

		@media @tablet {
			margin-left: -10px;
			margin-right: -10px;
		}

		&__col {
			display: inline-block;
			width: 50%;
			padding: 0 15px;
			margin-bottom: 40px;

			@media @tablet {
				padding: 0 10px;
			}

			@media @mobile {
				width: 100%;
				margin-bottom: 27px;
			}
		}
	}

	&-item {
		font-size: 0;
		margin: 0 -15px;

		@media @tablet {
			margin: 0 -10px;
		}

		&__col {
			display: inline-block;
			width: 50%;
			padding: 0 15px;

			@media @tablet {
				display: block;
				width: auto;
				padding: 0 10px;

				&:first-child {
					max-width: 248px;

					@media @mobile {
						max-width: 310px;
					}
				}
			}
		}

		&__photo {
			overflow: hidden;
			position: relative;
			padding-top: 183 / 270 * 100%;

			@media @tablet {
				margin-bottom: 20px;
			}

			@media @mobile {
				margin-bottom: 16px;
			}
		}

		&__content {
			padding: 12px 0;

			@media @tablet {
				padding: 0;
			}
		}

		&__date {
			display: block;
			font-size: 16px;
			line-height: 18px;
			margin-bottom: 11px;

			@media @tablet {
				margin-bottom: 10px;
			}

			@media @mobile {
				font-size: 14px;
				line-height: 16px;
			}
		}

		&__title {
			font-size: 32px;
			line-height: 42px;
			font-family: @fCustom;

			@media @tablet {
				font-size: 26px;
				line-height: 34px;
			}

			@media @mobile {
				font-size: 22px;
				line-height: 28px;
			}
		}
	}
}

.partners {
	&__row {
		padding-top: 98px;
		padding-bottom: 60px;

		@media @tablet {
			padding-top: 73px;
		}

		@media @mobile {
			padding-top: 60px;
			padding-bottom: 40px;
		}
	}

	&__head {
		margin-bottom: 43px;
	}

	&-list {
		overflow: hidden;
		font-size: 0;
		white-space: nowrap;
		margin: 0 -15px;

		@media @tablet {
			margin: 0 -10px;
		}

		&__col {
			display: inline-block;
			width: 100% / 6;
			padding: 0 15px;
			margin-bottom: 30px;

			@media @tablet {
				padding: 0 10px;
			}

			@media @mobile {
				width: 100% / 4;
			}
		}
	}

	&-item {
		overflow: hidden;
		position: relative;
		padding-top: 100%;
		opacity: .4;
		filter: grayscale(100%);
		transition: all .5s ease;

		&:hover {
			opacity: 1;
			filter: grayscale(0);
		}
	}
}
