.inner {
	&__row {
		padding-top: 108px;
		padding-bottom: 70px;

		&_m {
			padding-top: 88px;
		}

		@media @notebook {
			padding-top: 78px;
			padding-bottom: 50px;
		}

		@media @tablet {
			padding-top: 65px;
		}

		@media @mobile {
			padding-top: 49px;
		}
	}

	&-footer {
		padding-top: 80px;
		margin-top: 46px;
		border-top: 1px solid #DEDBDB;

		&_noborder {
			padding-top: 20px;
			border-top-width: 0;

			@media @tablet {
				padding-top: 0;
			}
		}

		@media @mobile {
			border-top-width: 0;
			padding-top: 0;
			margin-top: 36px;
		}

		&__all {
			display: none;

			@media @mobile {
				display: inline-block;
				color: @colorGray;
				font-size: 16px;
				line-height: 18px;
				font-weight: bold;
				text-transform: uppercase;
				margin-top: 30px;

				&:hover {
					color: @colorBlue;
				}
			}
		}
	}
}

.article {
	font-size: 0;
	margin: 55px -15px 0;

	@media @tablet {
		margin-top: 41px;
	}

	@media @mobile {
		margin-top: 0;
	}

	&__col {
		display: inline-block;
		padding: 0 15px;

		&_lc {
			width: 66.6666%;

			@media @tablet {
				width: 100%;
			}
		}

		&_rc {
			width: 33.3333%;

			@media @tablet {
				display: none;
			}
		}
	}

	&-nav {
		margin-top: -1px;

		&__item {
			position: relative;
			display: block;
			color: @colorPink;
			font-size: 20px;
			line-height: 28px;
			cursor: pointer;
			padding: 15px 0 14px 40px;
			border-bottom: 1px solid #DEDBDB;

			&:hover {
				color: @colorBlue;
			}

			&.is-active {
				color: @colorBlack;

				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 30px;
					width: 20px;
					height: 2px;
					background-color: @colorBlack;
				}
			}

			&:last-child {
				border-bottom-width: 0;
			}
		}
	}

	&-tablet {
		&__col {
			&_tablet {
				display: none;

				@media @tablet {
					display: inline-block;
					margin-top: 9px;
				}
			}
		}

		@media @tablet {
			font-size: 0;
			margin: 0 -18px 50px;

			&__col {
				display: inline-block;
				width: 50%;
				padding: 0 18px;
			}
		}

		@media @mobile {
			margin: 0 0 30px;

			&__col {
				display: block;
				width: auto;
				padding: 0;
			}
		}
	}
}

.preview {
	font-size: 0;
	margin: 0 -15px 12px;

	@media @mobile {
		margin-bottom: -12px;
	}

	&__col {
		display: inline-block;
		padding: 0 15px;
		margin-bottom: 28px;

		@media @mobile {
			margin-bottom: 31px;
		}

		&_name {
			width: 100%;
		}

		&_age {
			min-width: 100px;
		}

		&_duration {
			min-width: 200px;
		}
	}

	&__title {
		display: block;
		color: @colorGray;
		font-size: 16px;
		line-height: 28px;
		margin-bottom: 2px;

		@media @mobile {
			font-size: 14px;
			line-height: 18px;
			margin-bottom: 6px;
		}
	}

	&__text {
		display: block;
		font-size: 20px;
		line-height: 28px;

		@media @mobile {
			font-size: 16px;
			line-height: 20px;
		}
	}
}

.card-mini {
	border: 1px solid #DEDBDB;

	&-date {
		display: flex;
		font-size: 0;
		padding: 21px 15px 29px;

		@media @tablet {
			padding: 19px 20px 19px;
		}

		@media @mobile {
			padding: 19px 10px 18px;
		}

		&__col {
			flex: 1;
			display: inline-block;
			padding: 0 15px;

			@media @tablet {
				padding: 0 10px;
			}
		}

		&__text {
			display: block;
			font-size: 40px;
			line-height: 48px;
			font-family: @fCustom;
			white-space: nowrap;

			@media @tablet {
				font-size: 36px;
				line-height: 42px;
			}

			@media @mobile {
				font-size: 26px;
				line-height: 32px;
			}
		}

		&__subtext {
			display: block;
			color: fade(@colorBlack, 50%);
			font-size: 16px;
			line-height: 18px;

			@media @mobile {
				font-size: 14px;
				line-height: 16px;
				margin-top: -2px;
			}
		}
	}

	&-action {
		padding: 26px 30px 32px;
		border-top: 1px solid #DEDBDB;

		@media @tablet {
			padding: 21px 30px 36px;
		}

		@media @mobile {
			padding: 20px 20px 19px;
		}

		&__title {
			display: block;
			color: fade(@colorBlack, 50%);
			font-size: 16px;
			line-height: 18px;
			margin-bottom: 6px;

			@media @tablet {
				margin-bottom: 5px;
			}

			@media @mobile {
				font-size: 14px;
				line-height: 16px;
				margin-bottom: 2px;
			}
		}

		&__price {
			display: block;
			color: @colorPink;
			font-size: 32px;
			line-height: 40px;
			font-family: @fCustom;
			margin-bottom: 13px;

			@media @tablet {
				font-size: 30px;
				margin-bottom: 16px;
			}

			@media @mobile {
				font-size: 24px;
				margin-bottom: 7px;
			}
		}
	}

	&-select {
		position: relative;
		text-align: center;
		padding: 13px 20px 15px;
		border-top: 1px solid #DEDBDB;

		&__title {
			display: inline-block;
			color: rgba(35, 12, 17, 0.5);
			font-size: 16px;
			line-height: 18px;
			cursor: pointer;

			&:hover {
				color: @colorBlue;
			}
		}

		&__arrow {
			position: absolute;
			padding: 15px;
			top: 50%;
			z-index: 5;
			fill: @colorGray;
			cursor: pointer;
			transform: translateY(-50%);
			transition: opacity .2s ease;
			opacity: .5;

			&:hover {
				opacity: 1;
			}

			div {
				overflow: hidden;
				position: relative;
				width: 70px;
				height: 16px;
			}

			svg {
				width: 70px;
				height: 16px;
			}
		}

		&__prev {
			left: 14px;

			@media @mobile {
				left: 5px;
			}
		}

		&__next {
			right: 14px;

			@media @mobile {
				right: 5px;
			}
		}
	}

	&-all {
		display: none;

		&__list {
			position: relative;
			padding: 10px 14px;
			margin: 0;
			border-top: 1px solid #DEDBDB;

			@media @mobile {
				padding: 10px 5px;
			}

			&:before {
				content: '';
				position: absolute;
				left: 50%;
				top: 0;
				width: 10px;
				height: 10px;
				margin: -5px;
				background-color: @colorLight;
				border: 1px solid #DEDBDB;
				transform: rotate(-45deg);
			}

			&:after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				height: 10px;
				background-color: @colorLight;
			}
		}

		&__col {
			display: inline-block;
			width: 50%;
			padding: 5px 15px;

			@media @notebook {
				width: 100%;
			}

			@media @tablet {
				width: 50%;
			}

			@media @small {
				width: 100%;
			}
		}

		&__item {
			display: block;
			color: fade(@colorBlack, 50%);
			font-size: 16px;
			line-height: 18px;
			cursor: pointer;

			&:hover {
				color: @colorBlue;
			}

			&.is-active {
				color: @colorBlack;

				&:hover {
					color: @colorBlack;
				}
			}
		}

		&__tip {
			display: block;
			color: @colorBlack;
			font-size: 16px;
			line-height: 18px;
			padding: 9px 29px 19px;
			border-top: 1px solid #DEDBDB;

			@media @mobile {
				padding: 9px 20px 19px;
			}
		}
	}

	&__message {
		display: block;
		font-size: 32px;
		line-height: 40px;
		font-family: @fCustom;
		text-align: center;
		padding: 33px 29px 39px;

		@media @notebook {
			font-size: 26px;
			line-height: 32px;
		}

		@media @tablet {
			padding: 23px 15px 27px;
		}

		@media @mobile {
			font-size: 22px;
			line-height: 28px;
			padding: 19px 15px 21px;
		}

		&_pink {
			color: @colorPink;
		}
	}
}

.text-b {
	> :first-child {
		margin-top: 0;
	}

	h2 {
		font-size: 40px;
		line-height: 46px;
		font-weight: 400;
		font-family: @fCustom;
		margin: 59px 0 25px;

		@media @tablet {
			font-size: 34px;
			line-height: 40px;
			margin: 51px 0 19px;
		}

		@media @mobile {
			font-size: 24px;
			line-height: 30px;
			margin: 40px 0 10px;
		}
	}

	p {
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 28px;

		@media @mobile {
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 20px;
		}

		span {
			color: fade(@colorBlack, 50%);
		}

		+ .gallery {
			margin-top: 57px;

			@media @tablet {
				margin-top: 30px;
			}
		}
	}

	h6 {
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 28px;

		@media @mobile {
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 20px;
		}
	}

	ul {
		margin: -8px 0 30px 50px;

		@media @notebook {
			margin-left: 0;
		}

		@media @mobile {
			margin-bottom: 0;
		}

		li {
			position: relative;
			font-size: 20px;
			line-height: 28px;
			padding-left: 50px;
			margin-bottom: 16px;

			@media @tablet {
				padding-left: 38px;
			}

			@media @mobile {
				font-size: 16px;
				line-height: 20px;
				margin-bottom: 10px;
			}

			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 16px;
				width: 20px;
				height: 2px;
				background-color: @colorPink;

				@media @mobile {
					top: 10px;
				}
			}

			span {
				color: fade(@colorBlack, 50%);
			}
		}
	}

	&-all {
		margin: 30px 0;

		@media @tablet {
			margin: 20px 0;
		}

		&__link {
			color: @colorGray;
			font-size: 16px;
			line-height: 18px;
			font-weight: bold;
			text-transform: uppercase;
			cursor: pointer;

			@media @tablet {
				font-size: 14px;
				line-height: 16px;
			}

			&:hover {
				color: @colorBlue;
			}
		}
	}
}

.gallery {
	max-width: 770px;
	margin-bottom: 60px;

	@media @tablet {
		margin-bottom: 51px;
	}

	@media @mobile {
		max-width: none;
		margin-bottom: 35px;
	}

	&-main {
		overflow: hidden;
		font-size: 0;
		white-space: nowrap;

		@media @mobile {
			margin: 0 -15px;
		}

		.slick-arrow {
			position: absolute;
			top: 50%;
			z-index: 5;
			width: 46px;
			height: 46px;
			cursor: pointer;
			margin: -23px 24px;
			background-color: rgba(35, 12, 17, 0.5);
			border: 2px solid fade(@colorLight, 50%);
			border-radius: 50%;
			transition: border-color .2s ease;

			@media @mobile {
				width: 24px;
				height: 24px;
				margin: -12px 15px;
			}

			&:hover {
				border-color: @colorLight;

				svg {
					fill: @colorLight;
				}
			}

			svg {
				position: absolute;
				left: 50%;
				top: 50%;
				fill: fade(@colorLight, 50%);
				transform: translate(-50%, -50%);
				transition: fill .2s ease;

				@media @mobile {
					transform: translate(-50%, -50%) scale(.5);
				}
			}
		}

		.slick-prev {
			left: 0;
		}

		.slick-next {
			right: 0;
		}

		&__col {
			display: inline-block;
			width: 100%;
		}

		&__item {
			overflow: hidden;
			position: relative;
			display: block;
			padding-top: 513 / 770 * 100%;
		}

		&__text {
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 5;
			display: block;
			color: @colorLight;
			font-size: 18px;
			line-height: 28px;
			padding: 11px 24px;
			background-color: rgba(35, 12, 17, 0.75);

			@media @mobile {
				font-size: 13px;
				line-height: 16px;
				padding: 7px 15px;
			}
		}
	}

	&-preview {
		overflow: hidden;
		white-space: nowrap;
		margin: 10px -5px 0;

		@media @mobile {
			margin: 10px -3px 0;
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			z-index: 5;
			width: 5px;
			background-color: #ffffff;
		}

		&:before {
			left: 0;
		}

		&:after {
			right: 0;
		}

		&__col {
			position: relative;
			display: inline-block;
			width: 100px;
			padding: 0 5px;
			opacity: .5;

			@media @mobile {
				width: 64px;
				padding: 0 3px;
			}

			&.is-current {
				opacity: 1;

				&:before {
					content: '';
					position: absolute;
					z-index: 1;
					top: 0;
					right: 5px;
					bottom: 0;
					left: 5px;
					border: 1px solid #dedbdb;

					@media @mobile {
						left: 3px;
						right: 3px;
					}
				}

				&:after {
					content: '';
					position: absolute;
					z-index: 2;
					top: 1px;
					right: 6px;
					bottom: 1px;
					left: 6px;
					border: 2px solid #ffffff;

					@media @mobile {
						left: 4px;
						right: 4px;
					}
				}
			}
		}

		&__item {
			overflow: hidden;
			position: relative;
			cursor: pointer;
			padding-top: 60 / 90 * 100%;
		}
	}
}

.docs {
	text-align: center;
	padding: 18px 30px 21px;
	margin: 37px 0 49px;
	border: 2px solid #EEEDED;

	@media @mobile {
		padding: 16px 15px 16px;
		margin: 30px -15px 30px;
		border-left-width: 0;
		border-right-width: 0;
	}

	&__inner {
		display: inline-block;
		width: 100%;
		max-width: 600px;
		text-align: left;

		@media @mobile {
			max-width: none;
		}
	}

	&__item {
		position: relative;
		padding: 8px 0 8px 32px;
	}

	&__icon {
		position: absolute;
		left: 0;
		top: 10px;
		fill: @colorBlack;

		@media @mobile {
			top: 4px;
		}
	}

	&__text {
		font-size: 20px;
		line-height: 28px;

		@media @mobile {
			font-size: 16px;
			line-height: 18px;
		}
	}
}

.jury-l {
	margin-top: 40px;

	@media @mobile {
		margin-top: 20px;
	}

	&__item {
		position: relative;
		display: flex;
		padding-bottom: 33px;
		margin: 0 -15px 40px;

		@media @mobile {
			display: block;
			padding-bottom: 0;
			margin-bottom: 30px;
		}

		&:after {
			content: '';
			position: absolute;
			left: 15px;
			right: 15px;
			bottom: 0;
			border-bottom: 1px solid #DEDBDB;

			@media @mobile {
				display: none;
			}
		}

		&:last-child {
			padding-bottom: 0;
			margin-bottom: 28px;

			&:after {
				border-bottom-width: 0;
			}
		}

		&.is-reverse {
			.jury-l__col {
				&_content {
					order: 0;
				}

				&_photo {
					order: 1;
				}
			}
		}
	}

	&__col {
		display: inline-block;
		padding: 0 15px;

		@media @mobile {
			display: block;

			&:first-child {
				max-width: 320px;
			}
		}

		&_content {
			flex: 1;
		}
	}

	&__photo {
		overflow: hidden;
		position: relative;
		width: 270px;
		padding-top: 250 / 270 * 100%;

		@media @notebook {
			width: 240px;
		}

		@media @mobile {
			margin-bottom: 16px;
		}
	}

	&__title {
		display: block;
		font-size: 32px;
		line-height: 40px;
		font-family: @fCustom;
		margin-bottom: 18px;

		@media @mobile {
			font-size: 24px;
			line-height: 30px;
			margin-bottom: 14px;
		}
	}

	&__text {
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 18px;

		@media @mobile {
			font-size: 14px;
			line-height: 16px;
			margin-bottom: 10px;
		}
	}
}

.pagination {
	display: flex;
	align-items: center;
	font-size: 0;
	padding-top: 40px;
	margin-top: 30px;
	margin-bottom: 50px;
	border-top: 1px solid #DEDBDB;

	@media @tablet {
		margin-bottom: 30px;
	}

	@media @mobile {
		position: relative;
		justify-content: center;
		text-align: center;
		padding-bottom: 46px;
		padding-top: 30px;
		margin-top: 30px;
		margin-bottom: 0;
	}

	&__item {
		display: inline-block;
		font-size: 32px;
		line-height: 42px;
		font-family: @fCustom;
		margin: 0 11px;

		@media @tablet {
			font-size: 28px;
			line-height: 38px;
		}

		@media @mobile {
			font-size: 22px;
			line-height: 28px;
			margin: 0 8px;
		}
	}

	&__arrow {
		display: inline-block;
		fill: #918688;
		cursor: pointer;
		padding: 10px;
		opacity: .6;
		transition: opacity .2s ease;
		margin-top: 2px;
		margin-bottom: -2px;

		@media @mobile {
			position: absolute;
			bottom: 0;
			left: 50%;
		}

		&_prev {
			margin-left: -10px;
			margin-right: 10px;

			@media @mobile {
				margin-left: -90px;
			}
		}

		&_next {
			margin-left: 10px;
			margin-right: -10px;

			@media @mobile {
				margin-left: 0;
			}
		}

		&:hover {
			opacity: 1;
		}

		&.is-disabled {
			fill: #BDB6B8;
			cursor: default;
			opacity: .5;

			&:hover {
				fill: #BDB6B8;
				opacity: .5;
			}
		}
	}
}

.event {
	font-size: 0;
	margin: 48px -15px 10px;

	@media @mobile {
		margin-top: 30px;
	}

	&__col {
		display: inline-block;
		padding: 0 15px;

		@media @mobile {
			display: block;
		}

		&_gallery {
			width: 66.6666%;

			@media @mobile {
				width: auto;
			}
		}

		&_content {
			width: 33.3333%;

			@media @mobile {
				width: auto;
			}
		}
	}

	&__content {
		padding: 30px 0;

		@media @mobile {
			padding: 0;
			margin-top: -15px;
		}
	}

	&__text {
		display: block;
		font-size: 18px;
		line-height: 28px;
		font-style: italic;

		@media @mobile {
			font-size: 14px;
			line-height: 16px;
		}
	}

	&__date {
		display: block;
		color: @colorGray;
		font-size: 18px;
		line-height: 28px;
		margin-top: 32px;

		@media @mobile {
			font-size: 14px;
			line-height: 16px;
			margin-top: 16px;
		}
	}
}

.cast {
	border-bottom: 1px solid #DEDBDB;

	&-nav {
		position: relative;
		z-index: 5;
		margin: 37px 0 -11px;

		@media @tablet {
			margin-top: 32px;
		}

		@media @mobile {
			margin-top: 22px;
		}
	}

	&-group {
		margin-top: 80px;

		@media @tablet {
			margin-top: 60px;
		}

		@media @mobile {
			margin-top: 50px;
		}
	}

	&__line {
		border-top: 1px solid #DEDBDB;

		@media @mobile {
			border-top-width: 0;
		}
	}

	&__row {
		font-size: 0;
		margin: 0 -15px;

		@media @tablet {
			margin: 0 -10px;
		}
	}

	&__col {
		display: inline-block;
		width: 50%;
		padding: 34px 15px 30px;

		@media @tablet {
			padding: 24px 10px 20px;
		}

		@media @mobile {
			width: 100%;
			padding-top: 20px;
			padding-bottom: 16px;
			border-top: 1px solid #DEDBDB;
		}

		&_wide {
			width: 100%;
		}
	}

	&__item {
		position: relative;
		min-height: 76px;
		font-size: 0;
		padding: 0 0 0 100px;

		@media @tablet {
			padding-left: 90px;
		}
	}

	&__photo {
		overflow: hidden;
		position: absolute;
		left: 0;
		top: 6px;
		display: block;
		width: 70px;
		height: 70px;

		@media @mobile {
			top: 4px;
		}
	}

	&__name {
		display: block;
		font-size: 32px;
		line-height: 40px;
		font-family: @fCustom;

		@media @tablet {
			font-size: 26px;
			line-height: 32px;
		}

		@media @mobile {
			font-size: 22px;
			line-height: 28px;
		}
	}

	&__role {
		display: block;
		color: @colorGray;
		font-size: 20px;
		line-height: 28px;
		margin-top: 5px;

		@media @tablet {
			font-size: 16px;
			line-height: 22px;
		}
	}
}

.artists {
	&-nav {
		margin: 52px 0 48px;

		@media @notebook {
			margin: 30px 0 30px;
		}
	}

	&__list {
		font-size: 0;
		margin: 0 -15px;

		@media @tablet {
			margin: 0 -10px;
		}
	}

	&__col {
		display: inline-block;
		width: 25%;
		padding: 0 15px;
		margin-bottom: 47px;

		@media @notebook {
			margin-bottom: 40px;
		}

		@media @tablet {
			width: 50%;
			padding: 0 10px;
		}

		@media @mobile {
			width: 100%;
		}
	}

	&__item {
		display: block;
		max-width: 270px;
	}

	&__photo {
		overflow: hidden;
		position: relative;
		display: block;
		padding-top: 100%;
		margin-bottom: 16px;
	}

	&__name {
		display: block;
		font-size: 32px;
		line-height: 40px;
		font-family: @fCustom;
		margin-bottom: 5px;

		@media @tablet {
			font-size: 26px;
			line-height: 34px;
		}

		@media @mobile {
			font-size: 22px;
			line-height: 28px;
		}
	}

	&__role {
		display: block;
		color: @colorGray;
		font-size: 20px;
		line-height: 28px;

		@media @tablet {
			font-size: 18px;
			line-height: 22px;
		}
	}
}

.artist {
	margin-bottom: 77px;

	@media @tablet {
		margin-bottom: 60px;
	}

	&__title {
		margin: 5px 0 41px;

		@media @notebook {
			margin-bottom: 31px;
		}

		@media @tablet {
			margin: 0 0 25px;
		}
	}

	&-intro {
		font-size: 0;
		margin: 0 -15px 60px;

		@media @notebook {
			margin-bottom: 40px;
		}

		@media @mobile {
			margin-bottom: 30px;
		}

 		&__col {
			display: inline-block;
			width: 50%;
			padding: 0 15px;

			@media @mobile {
				width: 100%;
			}
		}

		&__role {
			position: relative;
			display: block;
			font-size: 20px;
			line-height: 28px;
			padding-left: 50px;
			margin-bottom: 38px;

			@media @notebook {
				margin-bottom: 28px;
			}

			@media @tablet {
				padding-left: 40px;
				margin-bottom: 20px;
			}

			@media @mobile {
				font-size: 16px;
				line-height: 18px;
				padding-left: 30px;
			}

			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 15px;
				width: 20px;
				height: 2px;
				background-color: @colorPink;

				@media @mobile {
					top: 9px;
					width: 15px;
				}
			}
		}
	}

	&-photo {
		max-width: 570px;
		margin: 0 auto;

		&__inner {
			overflow: hidden;
			position: relative;
			padding-top: 100%;
		}
	}

	&-about {
		font-size: 0;
		padding: 33px 0 40px;
		border-top: 1px solid #DEDBDB;
		border-bottom: 1px solid #DEDBDB;

		@media @notebook {
			padding: 23px 0 30px;
		}

		@media @tablet {
			padding: 20px 0;
		}

		@media @mobile {
			margin-bottom: 30px;
		}

		&__row {
			margin: 0 -15px -40px;

			@media @notebook {
				margin-bottom: -20px;
			}
		}

		&__col {
			display: inline-block;
			width: 50%;
			padding: 0 15px;
			margin-bottom: 40px;

			@media @notebook {
				margin-bottom: 20px;
			}

			@media @small {
				width: 100%;
			}

			&_wide {
				width: 100%;
			}
		}

		&__title {
			display: block;
			color: @colorGray;
			font-size: 16px;
			line-height: 28px;
			margin-bottom: 1px;
		}

		&__text {
			display: block;
			font-size: 20px;
			line-height: 28px;

			@media @mobile {
				font-size: 16px;
				line-height: 18px;
			}
		}
	}
}
